$transition: 2s;

.circle-progress {
  width: 5rem;
  height: 5rem;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.circle-progress.circle-2 {
  width: 3.5rem;
  height: 3.5rem;
}

.circle-progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.circle-progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.circle-progress .progress-left {
  left: 0;
}
.circle-progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.circle-progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.circle-progress .progress-right {
  right: 0;
}
.circle-progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.circle-progress .progress-value {
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Customize Colors
.progress-25 .progress-bar {
  border-color: #ec5967;
}
.progress-68 .progress-bar,
.progress-76 .progress-bar {
  border-color: #00d1de;
}

// Customize Progress right
.progress-25 .progress-bar {
  animation: loading-25 3s linear forwards;
}
.progress-68 .progress-bar {
  animation: loading-50 1.5s linear forwards;
}
.progress-76 .progress-bar {
  animation: loading-50 1.5s linear forwards;
}

// Customize Progress left
.progress-left.progress-68 .progress-bar {
  animation: loading-68 1.5s linear forwards 1.5s;
}
.progress-left.progress-76 .progress-bar {
  animation: loading-76 1.5s linear forwards 1.5s;
}

@keyframes loading-50 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-25 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes loading-68 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@keyframes loading-76 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(93.6deg);
    transform: rotate(93.6deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

.progress-inline {
  position: relative;
  padding: 0;
  width: 80%;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}
.progress-inline .value {
  background-color: #0d6efd;
  height: 10px;
  border-radius: 15px;
  animation: progres 3s linear forwards;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 75%;
  }
}

.progress-inline.progress-80 .value {
  animation: progress-80 3s linear forwards;
}
@keyframes progress-80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.progress-inline.progress-40 .value {
  animation: progress-40 3s linear forwards;
}
@keyframes progress-40 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.progress-inline.progress-70 .value {
  animation: progress-70 3s linear forwards;
}
@keyframes progress-70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.progress-bar-vertical {
  width: 10px;
  // margin-top: auto;
  // min-height: 100px;
  // margin-right: 20px;
  // float: left;

  display: flex;
  align-items: flex-end;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
}
