.logo {
  color: #2d62ed;
  display: flex;
  font-size: 3rem;

  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
