.login-section::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  // z-index: -1;
  background-image: url("../../../assets/platform.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}
.login-section::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

@media screen and (min-width: 769px) {
  .login-section::after {
    display: none;
  }
  .login-section::before {
    display: none;
  }
}

.login-form {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media screen and (min-width: 769px) {
  .login-form {
    top: 65%;
  }
}
