.platform-wrapper {
  position: relative;
  height: auto;
}

.platform-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  width: 90%;
  height: 90%;
  background: transparent url(../../../assets/platform.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
