* {
  box-sizing: border-box;
  outline: none;
}

*::-moz-placeholder {
  color: #b2bec3;
}

*:-ms-input-placeholder {
  color: #b2bec3;
}

*::placeholder {
  color: #b2bec3;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  caret-color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.fm-roboto {
  font-family: "Roboto", sans-serif;
}

.fm-montserrat {
  font-family: "Montserrat", sans-serif;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.ls-1 {
  letter-spacing: "1px";
}

.ls-2 {
  letter-spacing: "2px";
}

.ls-3 {
  letter-spacing: "3px";
}

.ls-4 {
  letter-spacing: "4px";
}

.ls-5 {
  letter-spacing: "5px";
}

.ws-1 {
  word-spacing: "1px";
}

.ws-2 {
  word-spacing: "2px";
}

.ws-3 {
  word-spacing: "3px";
}

.ws-4 {
  word-spacing: "4px";
}

.ws-5 {
  word-spacing: "5px";
}

.txt-primary {
  color: #2d62ed;
}

.txt-secondary {
  color: #00ccf2;
}

.txt-white {
  color: #fff;
}

.txt-white-1 {
  color: #efefef;
}

.txt-white-2 {
  color: #f4f7fe;
}

.txt-white-3 {
  color: rgba(253, 253, 253, 0.68);
}

.txt-black {
  color: #000;
}

.txt-dark {
  color: #272d3b;
}

.txt-gray {
  color: #9d9d9d;
}

.border-primary {
  border-color: #2d62ed;
}

.border-secondary {
  border-color: #00ccf2;
}

.border-white {
  border-color: #fff;
}

.border-white-1 {
  border-color: #efefef;
}

.border-white-2 {
  border-color: #f4f7fe;
}

.border-white-3 {
  border-color: rgba(253, 253, 253, 0.68);
}

.border-black {
  border-color: #000;
}

.border-dark {
  border-color: #272d3b;
}

.border-gray {
  border-color: #9d9d9d;
}

.border-focus-primary:focus-visible {
  border-color: #2d62ed;
}

.border-focus-secondary:focus-visible {
  border-color: #00ccf2;
}

.border-focus-white:focus-visible {
  border-color: #fff;
}

.border-focus-white-1:focus-visible {
  border-color: #efefef;
}

.border-focus-white-2:focus-visible {
  border-color: #f4f7fe;
}

.border-focus-white-3:focus-visible {
  border-color: rgba(253, 253, 253, 0.68);
}

.border-focus-black:focus-visible {
  border-color: #000;
}

.border-focus-dark:focus-visible {
  border-color: #272d3b;
}

.border-focus-gray:focus-visible {
  border-color: #9d9d9d;
}

.bg-primary {
  background-color: #2d62ed;
}

.bg-secondary {
  background-color: #00ccf2;
}

.bg-white {
  background-color: #fff;
}

.bg-white-1 {
  background-color: #efefef;
}

.bg-white-2 {
  background-color: #f4f7fe;
}

.bg-white-3 {
  background-color: rgba(253, 253, 253, 0.68);
}

.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: #272d3b;
}

.bg-gray {
  background-color: #9d9d9d;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

.h-100vh {
  height: 100vh;
}

.h-75vh {
  height: 75vh;
}

.h-50vh {
  height: 50vh;
}

.h-25vh {
  height: 25vh;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-100vh {
  width: 100vh;
}

.w-75vh {
  width: 75vh;
}

.w-50vh {
  width: 50vh;
}

.w-25vh {
  width: 25vh;
}

.nav-item {
  width: 95%;
  margin: 3% 0;
}

.nav-link {
  color: inherit;
  display: flex;
  align-items: center;
}

.nav-link i {
  margin-left: 20%;
  width: 15%;
}

.nav-link:hover,
.nav-link:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.1607843137);
  border-radius: 0 20px 20px 0;
}

.collapse .nav-link::before {
  display: block;
  margin-right: 10px;
  font-weight: 700;
  content: ".";
}

.collapse .nav-link:focus::before {
  font-weight: 700;
  content: "_____";
}

.collapse .nav-link:hover,
.collapse .nav-link:focus {
  background-color: transparent;
}

.form-control {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 1em;
  padding-left: 3em;
  color: #2d62ed;
  border: 1px solid #b2bec3;
  border-radius: 2em;
  font-size: 1rem;
}

.form-input:focus-visible {
  border-color: #2d62ed;
}

.form-icon {
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  color: #b2bec3;
}

.form-btn {
  width: 100%;
  padding: 1em;
  border-radius: 25px;
  border: none;
  background-color: #2d62ed;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-form {
  position: absolute;
  width: 60%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  color: #2d62ed;
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-size: 2rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.platform-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 90%;
  height: 90%;
  background: transparent url(../../../assets/platform.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.rounded {
  border-radius: 1em;
}

.rounded-2 {
  border-radius: 2em;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.p-relative {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */