@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}

*::-moz-placeholder {
  color: #b2bec3;
}

*:-ms-input-placeholder {
  color: #b2bec3;
}

*::placeholder {
  color: #b2bec3;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: clamp(10px, 14px, 0.8vw);
  position: relative;
  transition: 0.5s;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  caret-color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

hr {
  margin: 0.5em 0;
}

.fs-small {
  font-size: 0.4rem;
}

.fs-small-1 {
  font-size: 0.6rem;
}

.fs-small-2 {
  font-size: 0.8rem;
}

.fm-roboto {
  font-family: "Roboto", sans-serif;
}

.fm-montserrat {
  font-family: "Montserrat", sans-serif;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.ls-1 {
  letter-spacing: "1px";
}

.ls-2 {
  letter-spacing: "2px";
}

.ls-3 {
  letter-spacing: "3px";
}

.ls-4 {
  letter-spacing: "4px";
}

.ls-5 {
  letter-spacing: "5px";
}

.ws-1 {
  word-spacing: "1px";
}

.ws-2 {
  word-spacing: "2px";
}

.ws-3 {
  word-spacing: "3px";
}

.ws-4 {
  word-spacing: "4px";
}

.ws-5 {
  word-spacing: "5px";
}

.txt-primary {
  color: #2d62ed;
}

.txt-secondary {
  color: #00ccf2;
}

.txt-blue {
  color: #2d62ed;
}

.txt-lightblue {
  color: rgba(45, 98, 237, 0.3019607843);
}

.txt-white {
  color: #fff;
}

.txt-white-1 {
  color: #efefef;
}

.txt-white-2 {
  color: #e0e0e0;
}

.txt-white-3 {
  color: #f4f7fe;
}

.txt-black {
  color: #000;
}

.txt-dark {
  color: #272d3b;
}

.txt-gray {
  color: #9d9d9d;
}

.txt-alert {
  color: #ec5967;
}

.txt-lightgreen {
  color: #00d1de;
}

.txt-submarine {
  color: #b2bec3;
}

.txt-bright-turquoise {
  color: #00ccf2;
}

.txt-egg-blue {
  color: #00d1de;
}

.txt-shamrock {
  color: #26d395;
}

.txt-mantis {
  color: #6dcf67;
}

.txt-atlantis {
  color: #a0c73a;
}

.txt-crusta {
  color: #fb7644;
}

.txt-corn {
  color: #d0ba05;
}

.txt-web-orange {
  color: #ffa600;
}

.txt-astronaut {
  color: #2e4a79;
}

.txt-astronaut-blue {
  color: #003f5c;
}

.txt-butterfly-bush {
  color: #634f8d;
}

.txt-tapestry {
  color: #994f90;
}

.txt-mulberry {
  color: #ca4e82;
}

.txt-mandy {
  color: #ec5967;
}

.txt-ebony-clay {
  color: #272d3b;
}

.txt-royal-blue {
  color: #2d62ed;
}

.txt-cornflower-Blue {
  color: #6195ed;
}

.border-primary {
  border-color: #2d62ed;
}

.border-secondary {
  border-color: #00ccf2;
}

.border-blue {
  border-color: #2d62ed;
}

.border-lightblue {
  border-color: rgba(45, 98, 237, 0.3019607843);
}

.border-white {
  border-color: #fff;
}

.border-white-1 {
  border-color: #efefef;
}

.border-white-2 {
  border-color: #e0e0e0;
}

.border-white-3 {
  border-color: #f4f7fe;
}

.border-black {
  border-color: #000;
}

.border-dark {
  border-color: #272d3b;
}

.border-gray {
  border-color: #9d9d9d;
}

.border-alert {
  border-color: #ec5967;
}

.border-lightgreen {
  border-color: #00d1de;
}

.border-submarine {
  border-color: #b2bec3;
}

.border-bright-turquoise {
  border-color: #00ccf2;
}

.border-egg-blue {
  border-color: #00d1de;
}

.border-shamrock {
  border-color: #26d395;
}

.border-mantis {
  border-color: #6dcf67;
}

.border-atlantis {
  border-color: #a0c73a;
}

.border-crusta {
  border-color: #fb7644;
}

.border-corn {
  border-color: #d0ba05;
}

.border-web-orange {
  border-color: #ffa600;
}

.border-astronaut {
  border-color: #2e4a79;
}

.border-astronaut-blue {
  border-color: #003f5c;
}

.border-butterfly-bush {
  border-color: #634f8d;
}

.border-tapestry {
  border-color: #994f90;
}

.border-mulberry {
  border-color: #ca4e82;
}

.border-mandy {
  border-color: #ec5967;
}

.border-ebony-clay {
  border-color: #272d3b;
}

.border-royal-blue {
  border-color: #2d62ed;
}

.border-cornflower-Blue {
  border-color: #6195ed;
}

.border-focus-primary:focus-visible {
  border-color: #2d62ed;
}

.border-focus-secondary:focus-visible {
  border-color: #00ccf2;
}

.border-focus-blue:focus-visible {
  border-color: #2d62ed;
}

.border-focus-lightblue:focus-visible {
  border-color: rgba(45, 98, 237, 0.3019607843);
}

.border-focus-white:focus-visible {
  border-color: #fff;
}

.border-focus-white-1:focus-visible {
  border-color: #efefef;
}

.border-focus-white-2:focus-visible {
  border-color: #e0e0e0;
}

.border-focus-white-3:focus-visible {
  border-color: #f4f7fe;
}

.border-focus-black:focus-visible {
  border-color: #000;
}

.border-focus-dark:focus-visible {
  border-color: #272d3b;
}

.border-focus-gray:focus-visible {
  border-color: #9d9d9d;
}

.border-focus-alert:focus-visible {
  border-color: #ec5967;
}

.border-focus-lightgreen:focus-visible {
  border-color: #00d1de;
}

.border-focus-submarine:focus-visible {
  border-color: #b2bec3;
}

.border-focus-bright-turquoise:focus-visible {
  border-color: #00ccf2;
}

.border-focus-egg-blue:focus-visible {
  border-color: #00d1de;
}

.border-focus-shamrock:focus-visible {
  border-color: #26d395;
}

.border-focus-mantis:focus-visible {
  border-color: #6dcf67;
}

.border-focus-atlantis:focus-visible {
  border-color: #a0c73a;
}

.border-focus-crusta:focus-visible {
  border-color: #fb7644;
}

.border-focus-corn:focus-visible {
  border-color: #d0ba05;
}

.border-focus-web-orange:focus-visible {
  border-color: #ffa600;
}

.border-focus-astronaut:focus-visible {
  border-color: #2e4a79;
}

.border-focus-astronaut-blue:focus-visible {
  border-color: #003f5c;
}

.border-focus-butterfly-bush:focus-visible {
  border-color: #634f8d;
}

.border-focus-tapestry:focus-visible {
  border-color: #994f90;
}

.border-focus-mulberry:focus-visible {
  border-color: #ca4e82;
}

.border-focus-mandy:focus-visible {
  border-color: #ec5967;
}

.border-focus-ebony-clay:focus-visible {
  border-color: #272d3b;
}

.border-focus-royal-blue:focus-visible {
  border-color: #2d62ed;
}

.border-focus-cornflower-Blue:focus-visible {
  border-color: #6195ed;
}

.bg-primary {
  background-color: #2d62ed;
}

.bg-secondary {
  background-color: #00ccf2;
}

.bg-blue {
  background-color: #2d62ed;
}

.bg-lightblue {
  background-color: rgba(45, 98, 237, 0.3019607843);
}

.bg-white {
  background-color: #fff;
}

.bg-white-1 {
  background-color: #efefef;
}

.bg-white-2 {
  background-color: #e0e0e0;
}

.bg-white-3 {
  background-color: #f4f7fe;
}

.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: #272d3b;
}

.bg-gray {
  background-color: #9d9d9d;
}

.bg-alert {
  background-color: #ec5967;
}

.bg-lightgreen {
  background-color: #00d1de;
}

.bg-submarine {
  background-color: #b2bec3;
}

.bg-bright-turquoise {
  background-color: #00ccf2;
}

.bg-egg-blue {
  background-color: #00d1de;
}

.bg-shamrock {
  background-color: #26d395;
}

.bg-mantis {
  background-color: #6dcf67;
}

.bg-atlantis {
  background-color: #a0c73a;
}

.bg-crusta {
  background-color: #fb7644;
}

.bg-corn {
  background-color: #d0ba05;
}

.bg-web-orange {
  background-color: #ffa600;
}

.bg-astronaut {
  background-color: #2e4a79;
}

.bg-astronaut-blue {
  background-color: #003f5c;
}

.bg-butterfly-bush {
  background-color: #634f8d;
}

.bg-tapestry {
  background-color: #994f90;
}

.bg-mulberry {
  background-color: #ca4e82;
}

.bg-mandy {
  background-color: #ec5967;
}

.bg-ebony-clay {
  background-color: #272d3b;
}

.bg-royal-blue {
  background-color: #2d62ed;
}

.bg-cornflower-Blue {
  background-color: #6195ed;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

.h-100vh {
  height: 100vh;
}

.h-75vh {
  height: 75vh;
}

.h-50vh {
  height: 50vh;
}

.h-25vh {
  height: 25vh;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-100vh {
  width: 100vh;
}

.w-75vh {
  width: 75vh;
}

.w-50vh {
  width: 50vh;
}

.w-25vh {
  width: 25vh;
}

.plan-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  position: absolute;
  bottom: 0;
}

.plan-button {
  background-color: #fff;
  font-size: 1.2rem;
  color: #bbc;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 80%;
}

.form-control {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 1em;
  padding-left: 3em;
  color: #2d62ed;
  border: 1px solid #b2bec3;
  border-radius: 2em;
  font-size: 1rem;
}

.form-input:focus-visible {
  border-color: #2d62ed;
}

.form-icon {
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  color: #b2bec3;
}

.form-btn {
  width: 100%;
  padding: 1em;
  border-radius: 25px;
  border: none;
  background-color: #2d62ed;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-form {
  position: absolute;
  width: 60%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  color: #2d62ed;
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-size: 2rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.platform-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 90%;
  height: 90%;
  background: transparent url(../../../assets/platform.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.nav-item {
  width: 95%;
  margin: 3% 0;
}

.nav-link {
  color: inherit;
  display: flex;
  align-items: center;
}

.nav-link i {
  margin-left: 20px;
  width: 15%;
}

.nav-link:hover,
.nav-link:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.1607843137);
  border-radius: 0 20px 20px 0;
}

.collapse .nav-link::before {
  display: block;
  margin-right: 10px;
  font-weight: 700;
  content: ".";
}

.collapse .nav-link:focus::before {
  font-weight: 700;
  content: "_____";
}

.collapse .nav-link:hover,
.collapse .nav-link:focus {
  background-color: transparent;
}

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color-light: #b6b6b6;
  --white-color: #fff;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.header-shortened {
  padding-left: 25vw;
}

.nav-toggle {
  font-size: 2rem;
  cursor: pointer;
}

.side-nav {
  position: fixed;
  top: 0;
  left: -50%;
  height: 100vh;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.navbar-shown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 0;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
  font-size: 1.2rem;
}

.nav_link.active {
  color: var(--white-color);
}

.nav_link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 2rem;
}

#content {
  margin-top: 6vh;
}

@media screen and (min-width: 768px) {
  #content {
    margin-top: 10vh;
    padding-left: 16vw;
  }
  .header {
    padding-left: 16vw;
  }
  .side-nav {
    width: 15vw;
    left: 0;
    padding: 1rem 1.5rem 0 0;
  }
}
.circle-progress {
  width: 5rem;
  height: 5rem;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.circle-progress.circle-2 {
  width: 3.5rem;
  height: 3.5rem;
}

.circle-progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.circle-progress .progress-left {
  left: 0;
}

.circle-progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.circle-progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: center left;
}

.circle-progress .progress-right {
  right: 0;
}

.circle-progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
}

.circle-progress .progress-value {
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-25 .progress-bar {
  border-color: #ec5967;
}

.progress-68 .progress-bar,
.progress-76 .progress-bar {
  border-color: #00d1de;
}

.progress-25 .progress-bar {
  -webkit-animation: loading-25 3s linear forwards;
          animation: loading-25 3s linear forwards;
}

.progress-68 .progress-bar {
  -webkit-animation: loading-50 1.5s linear forwards;
          animation: loading-50 1.5s linear forwards;
}

.progress-76 .progress-bar {
  -webkit-animation: loading-50 1.5s linear forwards;
          animation: loading-50 1.5s linear forwards;
}

.progress-left.progress-68 .progress-bar {
  -webkit-animation: loading-68 1.5s linear forwards 1.5s;
          animation: loading-68 1.5s linear forwards 1.5s;
}

.progress-left.progress-76 .progress-bar {
  -webkit-animation: loading-76 1.5s linear forwards 1.5s;
          animation: loading-76 1.5s linear forwards 1.5s;
}

@-webkit-keyframes loading-50 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes loading-50 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}
@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}
@-webkit-keyframes loading-25 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loading-25 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes loading-68 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(65deg);
  }
}
@keyframes loading-68 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(65deg);
  }
}
@-webkit-keyframes loading-76 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(93.6deg);
  }
}
@keyframes loading-76 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(93.6deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}
.progress-inline {
  position: relative;
  padding: 0;
  width: 80%;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}

.progress-inline .value {
  background-color: #0d6efd;
  height: 10px;
  border-radius: 15px;
  -webkit-animation: progres 3s linear forwards;
          animation: progres 3s linear forwards;
}

@-webkit-keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 75%;
  }
}

@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 75%;
  }
}
.progress-inline.progress-80 .value {
  -webkit-animation: progress-80 3s linear forwards;
          animation: progress-80 3s linear forwards;
}

@-webkit-keyframes progress-80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.progress-inline.progress-40 .value {
  -webkit-animation: progress-40 3s linear forwards;
          animation: progress-40 3s linear forwards;
}

@-webkit-keyframes progress-40 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes progress-40 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.progress-inline.progress-70 .value {
  -webkit-animation: progress-70 3s linear forwards;
          animation: progress-70 3s linear forwards;
}

@-webkit-keyframes progress-70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.progress-bar-vertical {
  width: 10px;
  display: flex;
  align-items: flex-end;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
}

.search-form {
  position: relative;
}

.search-form .bx-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: #9ca3af;
  z-index: 2;
}

.search-form span {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.search-form-input {
  padding: 0.7em;
  text-indent: 3em;
  border-radius: 10px;
}

.search-form-input:focus {
  box-shadow: none;
  border-radius: 0;
  border-color: transparent;
  border-bottom-color: #9ca3af;
}

.table {
  font-family: "Montserrat", sans-serif;
  color: #707070;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table tr {
  padding: 10rem 0;
}

.first-color {
  border-radius: 30% 30% 0 0;
}

.last-color {
  border-radius: 0 0 30% 30%;
}

.color {
  width: 20px;
  height: 100%;
}

.bg-1 {
  background-color: #c53140;
}

.bg-2 {
  background-color: #961f2b;
}

.bg-3 {
  background-color: #5c121a;
}

.bg-4 {
  background-color: #58050d;
}

.bg-5 {
  background-color: #003f5c;
}

.bg-6 {
  background-color: #0b577a;
}

.bg-7 {
  background-color: #0b73a3;
}

.bg-8 {
  background-color: #1e9fdb;
}

.bg-9 {
  background-color: #15a1e2;
}

.bg-10 {
  background-color: #13b4ff;
}

.small-id {
  display: flex;
  justify-content: space-between;
  color: #707070;
  font-size: 0.5rem;
}

.small-id > * {
  margin: 0;
  padding: 0;
}

.inner-circle {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #436f95;
}

.inner-circle > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.separator {
  height: 3px;
  width: 5%;
  background-color: #436f95;
}

@media screen and (min-width: 700px) {
  .separator {
    width: 10%;
  }
}
.separator-2 {
  width: 50%;
  border-top: 3px dashed #436f95;
}

.opertaion-btn {
  border-radius: 2rem 0 0 2rem;
}

.vertical-circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #003f5c;
  position: relative;
}

.vertical-circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-separator {
  height: 10vh;
  width: 3.5rem;
  position: relative;
}

.vertical-separator > div {
  width: 3px;
  height: 90%;
  background-color: #003f5c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-text {
  transform: rotate(270deg);
  color: #4c788d;
}

.rounded {
  border-radius: 1em;
}

.rounded-2 {
  border-radius: 2em;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.p-relative {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dot {
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
}

.square {
  height: 0.6em;
  width: 0.6em;
  border-radius: 20%;
  display: inline-block;
  margin-right: 0.5em;
}/*# sourceMappingURL=main.css.map */